.imgPlane{
    
    height: 10px;
}


.contact, .download{
    font-family: 'Montserrat', sans-serif;
}

.fab {
    padding-top: 20px;
    font-size: 50px;
}

.imgSkills{
    position: initial !important;
}

.projects {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.contactIcon{
    display: flex;
    justify-content: space-around;
}

