.imgPlane{
    
    height: 10px;
}

.imgBike{
    padding-top: 140px;
    display: flex;
    align-items:flex-end;
}

.contact{
    font-family: 'Montserrat', sans-serif;
}

.fab {
    padding-top: 20px;
    font-size: 50px;
}

.imgSkills{
    padding-top: 20px;
    display: flex;
    align-items:flex-end;
}

.projects {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.contactIcon{
    display: flex;
    justify-content: space-around;
}

.fas{
    font-size: 40pt;
}