

.bici{
  position: absolute;
  left: 100px;
  top: 250px;
}

.contact{
  position: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
