.App{
  margin: 0;
  padding: 0;
}

.bici{
  position: absolute;
  top: 250px;
}

.contact{
  position: fixed;
}

.imgPlane{
    
  height: 10px;
}

.sun{
  position: absolute;
  width: 300px;


}

.sun:hover{
  width:350px;
  
}

.contact, .download{
  font-family: 'Montserrat', sans-serif;
}

.fab {
  padding-top: 20px;
  font-size: 50px;
}

.imgSkills{
  position: initial !important;
}

.projects {
  padding-top: 100px;
  font-family: 'Montserrat', sans-serif;
}

.contactIcon{
  display: flex;
  justify-content: space-around;
}


  .Btn {
    border: 1px solid #ddd;
    border-width: 1px;
    border-radius: 15%;
    padding: 8px;
    margin: 5px;
    width: 85px;
    height: 85px;
    font-size: 80%;
  
  }
  .Btn:hover{
    width: 100px;
    height: 100px;
    top: 0%;
    font-size: 100%;
  }

  .project:hover{
    height:350px;
  }


.containerSlide {
  width: 1200px;
}

.email{
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  width: 100%;
}

.bg{
  position: absolute;
}


.each-slide { 
  height: 100vh; 
  background-repeat: no-repeat;
}

.container{
  width: 100vmax;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  align-items: center;
}

.ballons{
  position: absolute;
  top: 50px;
  left: 300px;
}

.contactIcon{
  display: flex;
  color:white;
}

.footprints{
  display: flex;
  align-content: flex-end;
  size: 5200pts;
}

.playVideo{
  position: relative; 
  top:130px;
  left:420px;
}

@media only screen and (max-width:700px){
  .each-slide { 
    height: 100vmax; 
    background-repeat: no-repeat;
  }

  .playVideo {
    position: relative;
    top: 130px;
    left: 230px;
}

}

